<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppJonay"
        tools:targetApi="31">

        <!-- Pantalla de inicio -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppJonay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Resto de pantallas -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".LoginCorreoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DetalleAlbaranActivity" />
        <activity android:name=".RutaDeHoyActivity" />

        <activity
            android:name=".ManualAlbaranActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EscanearAlbaranActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:exported="false"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OcrAlbaranActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- FileProvider para la cámara -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>
</manifest>
